obj
/MoveFiles.suo
/MoveFiles/bin/Release/MoveFiles.vshost.exe.manifest
/MoveFiles/bin/Release/CallDelete.bat
/MoveFiles/bin/Release/CallMove.bat
/MoveFiles/bin/Release/MoveFiles.pdb
/MoveFiles/bin/Release/MoveFiles.vshost.exe
/MoveFiles/bin/Debug/MoveFiles.vshost.exe.manifest
/MoveFiles/bin/Debug/MoveFiles.duo
/MoveFiles/bin/Debug/MoveFiles.exe
/MoveFiles/bin/Debug/MoveFiles.pdb
/MoveFiles/bin/Debug/MoveFiles.vshost.exe
